body::before {
  display: block;
  content: "";
  height: var(--navbarHeight);
}

.description {
  font-size: 0.8em;
  font-style: italic;
}

.meal-list-item {
  cursor: pointer;
}

.nav-item {
  text-decoration: none;
  color: black;
}
